.aboutContainer {
  margin-top: -10px;
}
.bioContainer {
  width: 100%;
  max-width: 750px;
  border: solid 1px transparent;
  margin: 0 auto;
}

.bioContainer.logos {
  margin-top: 2vh;
}

.bioContainer hr {
  width: 82%;
  border: solid 1px #f1f1f1;
}

.bioContainer h1 {
  text-align: center;
  font-size: 32px;
}

@media (max-width: 800px) {
  .bioContainer h1 {
    font-size: 25px;
  }
}

.brush {
  position: absolute;
  margin-top: -149px;
  margin-left: 185px;
  z-index: -1;
  height: 150px;
}

.bioContainer p {
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 12px;
  color: #BBB;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  text-align: left;
}

@media (max-width: 600px) {
  .bioContainer p {
    font-size: 16px;
    line-height: 25px;
  }
}
.bioLogos {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin-top: 2vh;
}

.bioLogos img {
  width: 80%;
  max-width: 90px;
}

.bioLogos a {
  display: inline-block;
  width: 17%;
  height: 100%;
  max-width: 90px;
}
.tempLink {
  display: block;
  width: 102px;
  padding: 10px 18px;
  border-radius: 5px;
  background-color: salmon;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  margin: 0 auto;
  margin-top: 80px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}

.react-logo {
  animation: rotate infinite 20s linear;

}

.react-logo:hover {
  animation: rotate infinite 2s linear;
}

@keyframes rotate {
  to { transform: rotate(360deg); }
}