body {
  background-color: white;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.linkStyle {
  text-decoration: none;
  font-weight: 600;
  color: #999999;
}


/* FONTS */

@import url('https://fonts.googleapis.com/css?family=Roboto');