.mailContainer {
  background-color: white;
  width: 480px;
  height: 220px;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  padding: 50px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
}

.mail-mobile {
  width: 200px;
  padding: 30px;
  margin: 0 auto;
  margin-top: 50px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
}
.mail-mobile h1{
  font-size: 30px;
  text-align: center;
  margin-top: 0px;
}
.mail-mobile input {
  display: block;
  border: none;
  height: 20px;
  margin: 0 auto;
  margin-top: 10px;
  width: 150px;
  text-align: center;
  border-radius: 0;
  border: solid 1px lightgrey;

}
.mail-mobile textarea {
  display: block;
  border: 0;
  margin: 0 auto;
  margin-top: 10px;
  height: 100px;
  width: 150px;
  text-align: center;
  border-radius: 0;
  resize: none;
  font-size: 12px;
  font-family: sans-serif;
  border: solid 1px lightgrey;
}
.mail-mobile button {
  border: solid 1px lightgrey;
  background-color: white;
  width: 50px;
  height: 25px;
}

.mobile-status {
  color: white;
  text-align: center;
  height: 25px;
  margin: 0 auto;
}

.mobile-status.sent {
  color: lightgreen;
  font-weight: 700;
  font-size: 30px;
  margin-top: -10px;
  text-align: center;
  animation: pullup 0.5s forwards;
}
.mobile-status.sending {
  background-color: orange;
  animation: pullup 0.5s forwards;
}
.sending-mobile {
  width: 20px;
  height: 25px;
  margin: 0 auto;
}

.mailContainer h1{
  font-size: 50px;
  margin-top: -20px;
  color: black;
  letter-spacing: 1px;
}
.mailContainer input {
  display: block;
  width: 200px;
  margin-top: 20px;
  border: none;
  height: 30px;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  border: solid 1px lightgrey;
}

.mailContainer textarea {
  position: fixed;
  width: 250px;
  height: 136px;
  border: none;
  margin-top: -142px;
  resize: none;
  font-size: 14px;
  font-weight: 300;
  font-family: helvetica;
  border: solid 1px lightgrey;
}

.mailContainer button {
  display: block;
  float: right;
  margin-top: 10px;
  margin-right: -15px;
  color: grey;
  border: solid 1px lightgrey;
  background-color: white;
  border-radius: 5px;
  padding: 5px 15px;
  cursor: pointer;
  font-size: 15px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
}
.status {
  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
  margin-right: -10px;
  border-radius: 5px;
  color: white;
}
.status.sent {
  color: lightgreen;
  font-size: 50px;
  margin-left: -10px;
  text-align: center;
  animation: pullup 0.5s forwards;
}

.sending {
  position: absolute;
  margin-left: -35px;
  margin-top: 50px;
}



@keyframes pullup {
  0% {transform: translateY(50%); opacity: 0;}
  70% {transform: translateY(-55%); opacity: 1;}
  90% {transform: translateY(10%); opacity: 1;}
  100% {transform: translateY(0%); opacity: 1;}
}