.mailContainer {
  background-color: white;
  width: 480px;
  height: 220px;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  padding: 50px;
  border-radius: 5px;
  border: solid 1px #EAEAEA;
  -webkit-box-shadow: 0px 10px 27px -12px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 10px 27px -12px rgba(0,0,0,0.3);
  box-shadow: 0px 10px 27px -12px rgba(0,0,0,0.3);
}

.mailContainer h1{
  font-size: 50px;
  margin-top: -20px;
  color: #444;
  letter-spacing: 1px;
}

.mailContainer input {
  display: block;
  width: 200px;
  margin-top: 20px;
  border: none;
  height: 30px;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  border: solid 1px lightgrey;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.mailContainer textarea {
  position: fixed;
  width: 250px;
  height: 136px;
  border: none;
  margin-top: -142px;
  resize: none;
  font-size: 14px;
  font-weight: 300;
  font-family: helvetica;
  border: solid 1px lightgrey;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0px;
}


.mailContainer button {
  display: block;
  float: right;
  margin-top: 10px;
  margin-right: -15px;
  color: grey;
  background-color: white;
  border: solid 1px #DDD;
  border-radius: 5px;
  padding: 5px 15px;
  cursor: pointer;
  font-size: 15px;
}

.status {
  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
  margin-right: -10px;
  border-radius: 5px;
  color: white;
}

.status.sent {
  color: lightgreen;
  font-size: 50px;
  margin-left: -10px;
  margin-top: 35px;
  text-align: center;
  animation: scale-up 1s forwards;
}

.sending {
  position: absolute;
  margin-left: -35px;
  margin-top: 50px;
}

@media (max-width: 700px) {
  .mailContainer {
    padding: 20px;
    width: 75%;
    height: 360px;
  }
  .mailContainer h1 {
    font-size: 30px;
    margin-top: 0px;
  }
  .mailContainer input {
    display: block;
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    padding: 1px;
    border-radius: 0px;
    border: solid 1px #EEEEEE;
  }
  .mailContainer textarea {
    position: relative;
    display: block;
    width: 80%;
    margin: 0px auto;
    margin-top: 10px;
    border-color: #EEEEEE;
  }

  .mailContainer button {
    float: none;
    margin: 0 auto;
    margin-top: 10px;
  }

  .status {
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
    margin-right: -10px;
    border-radius: 5px;
    color: white;
  }

  .status.sent {
    font-size: 30px;
    margin-top: 115px;

  }

  .sendingMobile {
    color: red;
  }
}
