.profileContainer {
  background-color: white;
  margin: auto;
  margin-top: 6vh;
  width: 500px;
  border-radius: 1%;
  max-width: 90%;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
  animation: fadein 0.5s forwards;
}

.picStyle {
  display: block;
  margin: auto;
  margin-top: 2vh;
  width: 200px;
  border-radius: 2%;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}

.picStyle.mobile{
  width: 100px;
}

.profileInfoStyle {
  padding: 20px
}

.homeContainer hr{
  width: 300px;
  border: solid 1px #e9e9e9;
}

.nameContainer {
  text-align: center;
  margin-top: 17px;
  color: black;
  letter-spacing: 1;
}

.textContainer {
  text-align: center;
  margin: 20px;
  font-size: 25px;
  font-weight: 200;
  color: #BBBBBB;
  letter-spacing: 0.5
}