.profileContainer {
  background-color: white;
  margin: auto;
  margin-top: 40px;
  width: 45%;
  max-width: 500px;
  border-radius: 1%;
  border: solid 1px #CCC;
  padding: 40px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
  animation: fadein 0.5s forwards;
}

.profileContainer.leave {
  animation: fadeout 0.5s forwards;
}
.profileContainer img {
  display: block;
  margin: auto;
  margin-top: 2vh;
  width: 35%;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
}
.profileContainer h1 {
  text-align: center;
  margin-top: 17px;
  color: black;
  font-weight: 700;
  letter-spacing: 2px;
}

.profileContainer hr{
  width: 70%;
  border: solid 1px #e9e9e9;
}

.profileContainer p {
  text-align: center;
  margin: 20px;
  font-size: 21px;
  font-weight: 200;
  color: #BBBBBB;
  letter-spacing: 0.5;
  line-height: 0px;
}

@media (max-width: 800px) {
  .profileContainer {
    width: 80%;
    max-width: 400px;
    background-color: transparent;
    border: none;
    margin: 0 auto;
    margin-top: 10%;
    animation: fadein 1s forwards;
    box-shadow: none;
    height: 200px;
  }

  .profileContainer img {
    width: 35%;
  }
  .profileContainer h1 {
    font-size: 24px;
    letter-spacing: 1px;
  }
  .profileContainer p {
    font-size: 18px;
    line-height: 0px;
  }
}
