.navTab {
  height: 20px;
}

.navContainer {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 75px;
  padding-left: 0px;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
  z-index: 1;
  animation: fadein 0.75s forwards;
}

.mobileContainer {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
  z-index: 1;
  animation: dropdown 0.75s forwards;
}

.mobileContainer img{
  margin: 10px;
  margin-bottom: 5px;
  
}
.mobileContainer button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.linkContainer {
  margin-top: 10px;
  height: 200px;
}

.linkContainer hr {
  border: solid 1px #E9E9E9;
  margin-top: -10px;
}

.link {
  display: inline;
  font-size: 20px;
  height: -10vh;
  color: black;
  margin: 0 50px;
  padding: 20px 20px;
  text-decoration: none;
}

.linkMobile {
  display: block;
  color: black;
  text-decoration: none;
  width: 75px;
  margin: 0 auto;
  padding: 10px 0px;
  font-size: 20px;
  animation: fadein 0.5s forwards;
}

.activeLink {
  border-bottom: solid 2px black;
  animation: dropdown 0.2s forwards;
}

.placeholder {
  width: 100%;
  height: 75px;
}

.mobilePlaceholder{
  top:0;
  width: 100%;
  height: 20px;
}

@keyframes dropdown {
  0% {transform: translateY(-50%); opacity: 0;}
  70% {transform: translateY(15%); opacity: 1;}
  90% {transform: translateY(-9%); opacity: 1;}
  100% {transform: translateY(0%); opacity: 1;}
}