.slideContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 10vh;
}


.slideButton {
  height: 50px;
  width: 70px;
  border: none;
  background-color: transparent;
  outline: none;
  margin-top: 320px;
  margin-left: 30px;
  margin-right: 35px;
  font-size: 30px;
  font-weight: 500;
  color: black;
  cursor: pointer;
}

.slideButton.mobile {
  width: 30px;
  height: 30px;
  font-size: 12px;
  z-index: 1;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 170px;
  text-align: center;
  background-color: black;
  color: white;
}

.slideImg {
  height: 700px;
  border: solid 10px black;
  -webkit-box-shadow: 0px 10px 32px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 10px 32px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 10px 32px 0px rgba(0,0,0,0.25);
}

.slideImg.mobile {
  height: 350px;
  border: solid 5px black;
}

.imgLoading {
  width: 447px;
  height: 680px;
  border: solid 20px #EFEFEF;
}

.imgLoading.mobile {
  width: 225px;
  height: 340px;
  border: solid 10px #EFEFEF;
}

.triangle {
  margin: 0 auto;
  margin-top: 270px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 50px 80px 50px;
  border-color: transparent transparent #eeeeee transparent;
}

.triangle.mobile {
  margin-top:150px;
  border-width: 0 30px 50px 30px;
}

.vsco {
  text-align: center;
  color: #5A5A5A;
}

.vsco a {
  color: #5A5A5A;
}


.fade-enter{
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}


.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}



















