.slideContainer {
  text-align: center;
}

.slideContainer img {
  width: 20%;
  padding: 2%;
  max-width: 300px;
  animation: fadein 1s forwards;
}

@media (max-width: 600px){
  .slideContainer img {
    width: 100%;
  }
}

@media (max-width: 800px){
  .slideContainer img {
    width: 80%;
  }
}

.triangle {
  margin: 0 auto;
  margin-top: 60%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 50px 80px 50px;
  border-color: transparent transparent #eeeeee transparent;
}

.vsco {
  margin: 5vh;
  text-align: center;
  color: #5A5A5A;
  animation: fadein 1s forwards;
}

.vsco a {
  color: #5A5A5A;
}
