.portfolioContainer {
  text-align: center;
  margin-top: 30px;
  animation: fadein 0.75s forwards;
}

.optionContainer {
  margin: 20px 50px;
  display: inline-block;
  background-color: white;
  height: 400px;
  width: 300px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
  animation: scale-off 0.5s forwards;
}

.optionContainer:hover {
  animation: scale-on 0.5s forwards;
}

.optionContainer.mobile {
  height: 300px;
  width: 215px;
}

.optionContainer img {
  background-color: grey;
  width: 300px;
}

.optionContainer.mobile img {
  width: 215px;
}

.optionContainer h1 {
  text-align: left;
  font-family: sans-serif;
  font-size: 35px;
  margin-left: 20px;
  letter-spacing: 1px;
  color: black;
}

.optionContainer.mobile h1 {
  font-size: 20px;
}

.optionContainer p {
  text-align: left;
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
  color: #AAAAAA;
}

.optionContainer.mobile p {
  font-size: 12px;
}

