.portfolioContainer {
  text-align: center;
  margin-top: 30px;
}

.optionContainer {
  margin: 20px 50px;
  display: inline-block;
  background-color: white;
  height: 350px;
  width: 250px;
  border: solid 0.5px #DDD;
  animation: scale-off 0.5s forwards;
}

.optionContainer:hover {
  animation: scale-on 0.5s forwards;
}

.optionContainer img {
  background-color: grey;
  width: 250px;
}

.optionContainer h1 {
  text-align: left;
  font-family: sans-serif;
  font-size: 30px;
  margin-left: 20px;
  letter-spacing: 1px;
  color: black;
}

.optionContainer p {
  text-align: left;
  font-size: 16px;
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
  color: #AAAAAA;
}

@media (max-width: 600px){
  .optionContainer {
    height: 320px;
    width: 240px;
  }
  .optionContainer img {
    width: 240px;
  }
  .optionContainer h1 {
    font-size: 20px;
  }
  .optionContainer p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.5px;
  }
}