.blankTextContainer {
 margin-top: 30px;
}
.blankLines {
  height: 10px;
  width: 80%;
  margin: 15px 0px;
  margin-left: 30px;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.075);
}

.blankLines.end {
  width: 50%;
}

.blankImg{
  width: 250px;
  height: 150px;
  background-color: rgba(0,0,0,0.05);
}

@media (max-width: 600px) {
  .blankTextContainer {
   margin-top: 10px;
  }

  .blankLines {
  height: 5px;
  width: 70%;
  margin: 15px 0px;
  margin-left: 30px;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.075);
  }

  .blankLines.end {
    width: 50%;
  }

  .blankImg{
    width: 240px;
    height: 120px;
    background-color: rgba(0,0,0,0.05);
  }
}